@model List<CybersecurityProject.Models.ViewModels.PostDisplayViewModel>
@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["Error"] != null)
{
    <p class="alert-danger">@TempData["Error"]</p>
}
<div class="d-flex w-100 flex-column align-items-center">
    <h1 class="mb-4">Posts</h1>
    @if (!Model.Any())
    {
        <p>No posts available.</p>
    }
    else
    {
        @foreach (var post in Model)
        {
            <div class="w-50 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@post.Post.Title</h5>
                        @if (post.Post.IsVerified)
                        {
                            <span class="align-self-end text-success">Verified</span>
                        }
                        <p class="card-subtitle mb-1">Author:@post.AuthorName</p>
                        <div class="card-group">
                            @Html.Raw(post.Post.Content)
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>