@{
    ViewBag.Title = "Lockout";
    Layout = "_Layout";
}

<div class="d-flex w-100 justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center w-50 border rounded p-4">
        <h2 class="text-center mb-3">Lockout!</h2>
        <p>Basic lockout time takes 15min.</p>
        <img style="width: 20rem; height: 20rem" alt="lock image" src="~/lib/lock.svg">
    </div>
</div>
