@model CybersecurityProject.Models.ViewModels.PostViewModel

@{
    ViewBag.Title = "Add Post";
    Layout = "_Layout";
}

<div class="d-flex w-100 justify-content-center">
    <div class="w-50 border rounded p-4">
        <h2>Add Post</h2>
        <form asp-action="AddPost" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Title</label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Content" class="form-label">Content</label>
                <textarea asp-for="Content" class="form-control textarea-height"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="IsVerified" class="form-check-label">Verify?</label>
                <input asp-for="IsVerified" class="" type="checkbox" />
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/toggle_verification.js"></script>
}