@model CybersecurityProject.Models.ViewModels.PostViewModel

@{
    ViewBag.Title = "Add Post";
    Layout = "_Layout";
}

<div class="d-flex w-100 justify-content-center">
    <div class="w-50 border rounded p-4">
        <h2>Add Post</h2>
        <form asp-action="AddPost" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Title</label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Content" class="form-label">Content</label>
                <textarea asp-for="Content" class="form-control" id="richTextEditor"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/ckeditor_4.22.1_standard/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'richTextEditor' );
        CKEDITOR.replace('editor1', {
            // Configuring the Image plugin to limit image dimensions
            image: {
                // Minimum size for the image to be inserted
                maxWidth: 500,
                maxHeight: 500
            },

            // Other CKEditor configurations...
        });

    </script>
}