@model User

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Login</h2>
<form>
    <label for="email">E-mail</label>
    <input id="email" type="email"/>
    <label for="email">Password</label>
    <input id="password" type="password"/>
    <button type="submit">Log in</button>
</form>
